# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
venv/
log.sql
.env
# flask session files
flask_session/

# Ignore everything in the uploads folder
static/uploads/*

# But don't ignore this specific file
!static/uploads/placeholder.png