{% extends "public/layout.html" %}

{% block title %}
    Library - aaread
{% endblock %}

{% block main %}
    <div class="container-sm py-5">
        
        <div class="text-center text-md-start">
            <p class="fs-3 ms-0 ms-md-5 d-inline-block border-bottom border-2 mb-0" style="border-color: #3F51B5 !important;">Library</p>
        </div>        

        <hr class="mt-0 mb-3">
        
        <!-- contents -->
        {% for novel in novels %}
            <div class="col-12 border-bottom py-4">
                <div class="row g-3" style="min-height: 190px;">
                    <div class="col-4 col-sm-3 col-md-2 d-flex align-items-center">
                        <div class="w-100 position-relative">

                            <a href="{{ url_for('view_novel', novel_id=novel.id) }}" class="text-decoration-none">
                                <div class="border" style="aspect-ratio: 2 / 3;">
                                    
                                    <img src="{{ novel.cover_image if novel.cover_image else 'https://res.cloudinary.com/dha8kpdrp/image/upload/v1752913413/placeholder-image_elvsaz.jpg' }}" class="rounded img-fluid object-fit-cover w-100 h-100" alt="...">
                    
                                </div>
                            </a>

                            <div class="position-absolute start-0 end-0 bottom-0 p-2" style="background: rgba(0,0,0,0.3);">
                                <button class="btn text-truncate w-100 toggleLibraryBtn btn-success in-library" data-novel-id="{{ novel.id }}">
                                    <i class="bi bi-check2"></i> 
                                    In Library
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="ms-0 ms-sm-2 ms-md-3 ms-lg-5">

                            <h5 class="fw-semibold mb-3 text-truncate">
                                <a href="{{ url_for('view_novel', novel_id=novel.id) }}" class="text-decoration-none text-body">{{ novel.title }}</a>                              
                            </h5>

                            <p class="text-muted small mb-3 clamp">{{ novel.description }}</p>

                            <div class="mb-3">
                                <i class="bi bi-file-earmark-text"></i> {{ novel.chapters|length }}
                            </div>

                            <p class="card-text text-truncate small text-secondary mb-3">
                                {% for genre in novel.genres %}
                                    {{ genre.name }}{% if not loop.last %} · {% endif %}
                                {% endfor %}
                            </p>

                            {% if novel.status %}
                                <span class="badge bg-secondary">{{ novel.status }}</span>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>        
            </div>
        {% endfor %}
        
    </div>  
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='toggleLibrary.js') }}"></script>
{% endblock %}