{% extends "public/layout.html" %}

{% block title %}
    Novels - aaread
{% endblock %}

{% block main %}
    <div class="container-sm py-5">
        
        <div class="text-center text-md-start">
            <p class="fs-3 ms-0 ms-md-5 d-inline-block border-bottom border-2 mb-0" style="border-color: #3F51B5 !important;">Novels</p>
        </div>        

        <hr class="mt-0 mb-3">
        
        {% for novel in novels %}
            <div class="col-12 border-bottom py-4">
                <div class="row g-3" style="min-height: 190px;">
                    <div class="col-4 col-sm-3 col-md-2 d-flex align-items-center">
                        <div class="w-100 position-relative" style="aspect-ratio: 2 / 3;">

                            <a href="{{ url_for('view_novel', novel_id=novel.id) }}" class="text-decoration-none">
                                <img src="{{ url_for('static', filename=novel.cover_image) if novel.cover_image else url_for('static', filename='uploads/placeholder.png')}}" class="rounded img-fluid object-fit-cover w-100 h-100" alt="...">
                            </a>
                            {% if is_loggedin %}
                                <div class="position-absolute start-0 end-0 bottom-0 p-2" style="background: rgba(0,0,0,0.3);">
                                    
                                    {% if novel.id in saved_ids %}
                                        <button class="btn btn-sm btn-success text-truncate w-100" disabled>
                                            <i class="bi bi-check2"></i> In Library
                                        </button>
                                    {% else %}
                                        
                                        <button class="btn btn-sm btn-primary text-truncate w-100 addToLibraryBtn" data-novel-id="{{ novel.id }}">
                                            <i class="bi bi-plus"></i> Add to Library
                                        </button>
                                    {% endif %}
                                    
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="ms-0 ms-sm-2 ms-md-3 ms-lg-5">
    
                            <h5 class="fw-semibold mb-3 text-truncate">
                                <a href="{{ url_for('view_novel', novel_id=novel.id) }}" class="text-decoration-none text-body">{{ novel.title }}</a>                              
                            </h5>

                            <p class="text-muted small mb-3 clamp">{{ novel.description }}</p>

                            <div class="mb-3">
                                <i class="bi bi-file-earmark-text"></i> {{ novel.chapters|length }}
                            </div>

                            <p class="card-text text-truncate small text-secondary mb-3">
                                {% for genre in novel.genres %}
                                    {{ genre.name }}{% if not loop.last %} · {% endif %}
                                {% endfor %}
                            </p>

                            {% if novel.status %}
                                <span class="badge bg-secondary">{{ novel.status }}</span>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>        
            </div>
        {% endfor %}
        
        
    </div>  
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='userLibrary.js') }}"></script>
{% endblock %}